# Core
XENON_BROWSER_UA=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36
XENON_DEFAULT_VIDEO_QUALITY=1080

# Instagram
XENON_IG_APP_ID=
XENON_IG_MOBILE_UA=

# Dailymotion
XENON_DAILYMOTION_UA=
XENON_DAILYMOTION_AUTH_BASIC=

# Tumblr
XENON_TUMBLR_API_KEY=

# Twitch clips
XENON_TWITCH_CLIENT_ID=

# SoundCloud (optional, auto-discovered if empty)
XENON_SOUNDCLOUD_CLIENT_ID=

# Vimeo
XENON_VIMEO_AUTH_BASIC=

# VK
XENON_VK_CLIENT_ID=
XENON_VK_CLIENT_SECRET=
XENON_VK_CLIENT_VERSION=
XENON_VK_CLIENT_UA=

# YouTube (optional overrides)
XENON_YOUTUBE_CLIENT_NAME=WEB
XENON_YOUTUBE_CLIENT_VERSION=2.20241224.01.00
